
@{
    ViewBag.Title = "Завершение регистрации";
}

<h2>Благодарим Вас за регистрацию!</h2>
<div>
	<p>
		На Ваш почтовый ящик было выслано письмо с подтверждением электронной почты. Для работы в программе пройдите по ссылке из письма.
	</p>
</div>

