@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<hr />
<p><b>ОБЕДЫ С ДОСТАВКОЙ</b></p>
<p>от плиты до стола за 1 час!</p>
<p><b>ОРГАНИЗАЦИЯ ПИТАНИЯ</b></p>
<p>на строительных площадках и промышленных предприятиях.</p>
<p>Быстрая организация столовой или линии раздачи на предприятии.</p>
<hr />
<p>Адрес сайта <a href="http://chudo-pechka.by/" title="chudo-pechka.by" target="_blank">@ViewBag.Message</a></p>