@{
    ViewBag.Title = "Главная";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
		<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
		<li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
		<li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="carousel-caption">
				<hr /><h1>Комплексные обеды в офис <br />от ресторана ДНЕПР</h1><hr />
			</div>
			<img data-src="" alt="" src="~/Content/img/Slide1.jpg" data-holder-rendered="true">
		</div>
		<div class="item">
			<div class="carousel-caption">
				<hr /><h1>Комплексные обеды в офис <br />от ресторана ДНЕПР</h1><hr />
			</div>
			<img data-src="" alt="" src="~/Content/img/Slide2.jpg" data-holder-rendered="true">
		</div>
		<div class="item">
			<div class="carousel-caption">
				<hr /><h1>Комплексные обеды в офис <br />от ресторана ДНЕПР</h1><hr />
			</div>
			<img data-src="" alt="" src="~/Content/img/Slide3.jpg" data-holder-rendered="true">
		</div>
		<div class="item">
			<div class="carousel-caption">
				<hr /><h1>Комплексные обеды в офис <br />от ресторана ДНЕПР</h1><hr />
			</div>
			<img data-src="" alt="" src="~/Content/img/Slide4.jpg" data-holder-rendered="true">
		</div>
		<div class="item">
			<div class="carousel-caption">
				<hr /><h1>Комплексные обеды в офис <br />от ресторана ДНЕПР</h1><hr />
			</div>
			<img data-src="" alt="" src="~/Content/img/Slide5.jpg" data-holder-rendered="true">
		</div>
	</div>
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>